.outer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container {
  background-color: #48dbfb;
  width: 600px;
  height: 300px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header {
  align-self: baseline;
  margin: 10px;
  margin-left: 20px;
  color: white;
}
.product-button {
  width: 30%;
  background-color: white;
  align-self: baseline;
  margin-left: 20px;
  margin-top: 20px;
}

.price {
  color: black;
  font-size: 2em;
  font-weight: bold;
}
.price-label {
  display: flex;
  margin: 10px;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
.price-container {
  display: flex;
  justify-content: center;
  border: solid 1px #48dbfb;
  border-top: solid 4px #48dbfb;

  width: 250px;
  height: 150px;
  margin: 10px;
  flex: 0 36%;
  position: relative;
}
.price-name {
  color: black;
  font-size: 1.2em;
  margin: 20px;
  height: 100px;
}
.price-home {
  color: black;
  font-size: 1.2em;
  font-weight: bold;
  margin: 20px;
  padding: 9px;
  height: 33px;
  width: 45px;
  border-radius: 50%;

  background-color: #48dbfb;
  position: absolute;
  right: -37px;
  top: -37px;
}
