.details-container {
  display: flex;
  flex-direction: column;
}
.name {
  margin: 20px;

  padding: 5px;
  font-size: 1.6em;
  color: black;
}
.description {
  width: 70%;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 40px;
}
.price {
  margin: 20px;
  float: left;
}

.prev-button {
  width: 40px;
  flex-direction: row;
  margin-right: 400px;
  color: #48dbfb;
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2em;
}
.next-button {
  width: 40px;
  color: #48dbfb;
  background-color: white;
  font-weight: bold;
  border: none;
  font-size: 1.2em;
}
