.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.button-container {
  margin: 20px;
}
.button-container button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}
.head-container {
  display: flex;
  border-radius: 10px;
  position: relative;
  width: 700px;
  height: 50px;
  background-color: blue;
  border-radius: 10px;
  margin-bottom: 5px;
  opacity: 70%;
}
.product-items {
  display: flex;
  padding: 5px;
  position: relative;
  width: 700px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: darkgray;
  opacity: 80%;
}
.items {
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 8px;
}
.items-head {
  cursor: pointer;
  width: 100%;
  position: relative;

  padding: 8px;
}
.product-header {
  font-size: 1.6em;
  color: blue;
  font-weight: bold;
  margin-bottom: 30px;
}
.product-label {
  background-color: aqua;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}
.items-label {
  flex: 1 1 auto;
  margin: 8px;
}
