.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  align-items: center;
}
.button-container {
  margin: 20px;
}
.button-container button {
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #cad3c8;
}
.head-container {
  display: flex;
  border-radius: 10px;
  position: relative;
  width: 700px;
  height: 50px;
  background-color: #48dbfb;
  border-radius: 10px;
  margin-bottom: 5px;
}
.product-items {
  display: flex;
  padding: 5px;
  position: relative;
  width: 700px;
  height: 40px;
  border-radius: 10px;
  margin-bottom: 5px;
  background-color: #cad3c8;
}
.items {
  cursor: pointer;
  width: 100%;
  position: relative;
  padding: 8px;
}
.items-head {
  cursor: pointer;
  width: 100%;
  position: relative;

  padding: 11px;
  font-size: 1.4em;
}
.product-header {
  font-size: 2.2em;
  color: black;
  font-weight: bold;
  margin-bottom: 30px;
  float: left;
}
.header-top {
  display: flex;
  align-items: baseline;
}
.product-label {
  background-color: #7efff5;
  height: 40px;
  display: flex;
  flex-wrap: nowrap;
}
.items-label {
  flex: 1 1 auto;
  margin: 8px;
}
.list-label {
  font-size: 0.8em;
  background-color: cornflowerblue;
  margin: 10px;
  color: black;
}
.filter {
  margin: 20px;
}
.filter-text {
  margin: 10px;
  font-size: 1.2em;
  font-weight: bold;
}
.fas fa-chevron-left {
}
